<html>
  <head>
    <title>About Home Page</title>
  </head>
  <body>
    <%=link_to 'Home', root_path%>
    <p style="font-family:Arial;color:blue">Hello, About Page!</p>
    <p>Welcome to page about me.</p>
    <%=image_tag 'quick.jpg'%>
  </body>
</html>
