<html>
  <head>
    <title>Hello Home Page</title>
  </head>
  <body>
    <%=link_to 'About', about_path%>
    <p style="font-family:Arial;color:blue">Hello, World!</p>
    <p>Welcome to my webpage</p>
    <%= image_tag 'captain_chunk.jpg' %>
  </body>
</html>
